@charset "UTF-8";

// ----------------------
// == button
// ----------------------
@mixin btnBg($color) {
    background-color: $color;
}
@mixin btnLine($color) {
    background-color: transparent;
    border-color: $color;
    color: $color;
    &::after {
        border-color: $color;
    }
}
@mixin innerColor($color) {
    color: $color;
    &::after {
        border-color: $color;
    }
}
.btn {
    position: relative;
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
    padding: 1.2rem 3.5rem 1.2rem 2rem;
    background-color: $black;
    border-radius: 0;
    color: $white;
    font-size: 1.2rem;
    border: none;
    line-height: 1.2;
    white-space: normal;
    text-align: left;
    @include trans-ease($changeSpeed);
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 1.5rem;
        width: 8px;
        height: 8px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(45deg);
        @include trans-ease($changeSpeed);
    }
    &:hover {
        transform: translateY(.2rem);
        color: $white;
        opacity: .7;
        &::after {
            right: 1rem;
        }
    }
    &[data-color="key"] {
        @include btnBg($key);
    }
    &[data-color="base1"] {
        @include btnBg($base1);
    }
    &[data-color="base2"] {
        @include btnBg($base2);
    }
    &[data-color="white"] {
        @include btnBg($white);
        @include innerColor($black);
    }

    @each $key, $color in $theme-colors {
        &[data-color=#{$key}] {
            @include btnBg($color);
        }
    }
    &-full {
        width: 100%;
    }
    &-large {
        padding: 1.8rem 4.5rem 1.8rem 2rem;
        font-size: 1.4rem;
    }
    &-line {
        background-color: transparent;
        border: 2px solid $black;
        color: $black;
        &::after {
            border-color: $black;
        }
        &[data-color="key"] {
            @include btnLine($key);
        }
        &[data-color="base1"] {
            @include btnLine($base1);
        }
        &[data-color="base2"] {
            @include btnLine($base2);
        }
        &[data-color="white"] {
            @include btnLine($white);
        }

        @each $key, $color in $theme-colors {
            &[data-color=#{$key}] {
                @include btnLine($color);
            }
        }
    }
    &-border-left {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 5px;
            background-color: rgba(0,0,0,.1);
        }
    }
    &-list {
        .btn {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}