@charset "UTF-8";

// ----------------------
// == card
// ----------------------
$cardSpace: 3rem;
.card {
	border-radius: 0;
	border: none;
	margin-bottom: $cardSpace;
	background-color: transparent;
	img {
		width: 100%;
	}
	&-body {
		padding: $cardSpace;
		background-color: $white;
		@include min-md {
			&.has-btn {
				padding-bottom: calc(#{$cardSpace} + 7rem);
				.btn {
					position: absolute;
					left: calc(#{$cardSpace} + 1rem);
					max-width: calc(100% - (#{$cardSpace} + 1rem) * 2);
					bottom: $cardSpace;
					margin: none;
				}
			}
		}
	}
	&-title {
		@include subttl;
		a {
			display: block;
			line-height: 1.4;
			font-weight: bold;
			text-decoration: none;
			@include trans-ease(.2);
			&:hover {
				opacity: .7;
				transform: translate(0,.1rem);
			}
		}
	}
	&-wrap {
		.card {
			margin-bottom: calc(#{$cardSpace} + 1rem);
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.row {
			@include min-md {
				.card {
					&:last-child {
						margin-bottom: calc(#{$cardSpace} + 1rem);
					}
				}
			}
		}
	}

	&-wide {
		.card-body {
			margin: -9rem 3rem 0;
		}
	}
	&-bnr {
		.card-body {
			padding: 8rem $cardSpace;
			background-color: $black;
			@include bgImgBase;
			color: $white;
		}
	}
	&-badge {
		position: absolute;
		top: -1rem;
		left: 1rem;
		@include min-md {
			top: -1rem;
			left: 2rem;
			img {
				width: 100px;
			}
		}
	}
}