@charset "UTF-8";

// ----------------------
// == form
// ----------------------
.form {
	@media (min-width: 576px) {
	}
	@media (min-width: 768px) {
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 1200px) {
	}
}
