@charset "UTF-8";

// ----------------------
// == tag
// ----------------------
.tag {
    display: inline-flex !important;
    border: 2px solid $white;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 1rem;
    font-weight: bold;
    padding: .2rem 1rem;
    line-height: 1.2;
    @include trans-ease(.2);
    @include min-md {
        font-size: 1.2rem;
    }
    &[data-color="key"] {
        border-color: $key;
        color: $key;
        .tag-head {
            background-color: $key;
        }
    }
    &[data-color="base1"] {
        border-color: $base1;
        color: $base1;
        .tag-head {
            background-color: $base1;
        }
    }
    &[data-color="base2"] {
        border-color: $base2;
        color: $base2;
        .tag-head {
            background-color: $base2;
        }
    }
    &[data-color="white"] {
        border-color: $white;
        color: $white;
        .tag-head {
            background-color: $white;
        }
    }
    &[data-color="black"] {
        border-color: $black;
        color: $black;
        .tag-head {
            background-color: $black;
        }
    }

    &:hover {
        text-decoration: none;
        transform: translate(0,.1rem);
        opacity: .7;
    }

    @each $key, $color in $theme-colors {
        &[data-color=#{$key}] {
            border-color: $color;
            color: $color;
            .tag-head {
                background-color: $color;
            }
        }
    }
    &-cloud {
        display: flex;
        .tag {
            margin-right: .5rem;
        }
    }
}