@charset "UTF-8";

// ----------------------
// == tooltip
// ----------------------
.has-tooltip {
	position: relative;
	&:hover {
		.tooltip {
			opacity: 1;
			pointer-events: auto;
			&-top {
				top: 0;
				transform: translateY(-100%) scale(1);
			}
			&-bottom {
				bottom: 0;
				transform: translateY(100%) scale(1);
			}
			&-left {
				left: 0;
				transform: translateY(-50%) translateX(-100%) scale(1);
			}
			&-right {
				right: 0;
				transform: translateY(-50%) translateX(100%) scale(1);
			}
		}
	}
}
.tooltip {
	position: absolute;
	font-size: 10px;
	background-color: $key;
	padding: 5px 10px;
	opacity: 0;
	pointer-events: none;
	@include trans-ease(.1);
	a {
		text-decoration: underline;
		color: $black;
		&:hover {
			text-decoration: none;
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 7px;
		height: 7px;
		margin: auto;
		box-sizing: border-box;
	}

	&-top {
		width: calc(100% + 20px);
		top: 10px;
		left: -10px;
		transform: translateY(-100%) scale(.9);
		&:after {
			left: 0;
			right: 0;
			bottom: -14px;
			border: 7px solid transparent;
			border-top: 7px solid $key;
		}
	}
	&-bottom {
		width: calc(100% + 20px);
		bottom: 10px;
		left: -10px;
		transform: translateY(100%) scale(.9);
		&:after {
			left: 0;
			right: 0;
			top: -14px;
			border: 7px solid transparent;
			border-bottom: 7px solid $key;
		}
	}
	&-left {
		width: calc(100% + 20px);
		top: 50%;
		left: 10px;
		transform: translateY(-50%) translateX(-100%) scale(.9);
		&:after {
			top: 0;
			bottom: 0;
			right: -14px;
			border: 7px solid transparent;
			border-left: 7px solid $key;
		}
	}
	&-right {
		width: calc(100% + 20px);
		top: 50%;
		right: 10px;
		transform: translateY(-50%) translateX(100%) scale(.9);
		&:after {
			top: 0;
			bottom: 0;
			left: -14px;
			border: 7px solid transparent;
			border-right: 7px solid $key;
		}
	}
}