/* ===========================
   Base
   =========================== */

   $lg: 1200;
   $md: 992;
   $sm: 768;
   $xs: 544;
   @mixin max-lg {
	   @media (max-width: ($lg)+"px") {
		 @content;
	   }
   }
   @mixin max-md {
	   @media (max-width: ($md)+"px") {
		 @content;
	   }
   }
   
   @mixin max-sm {
	   @media (max-width: ($sm)+"px") {
		 @content;
	   }
   }
   
   @mixin max-xs {
	   @media (max-width: ($xs)+"px") {
		 @content;
	   }
   }
   
   
   @mixin min-lg {
	   @media (min-width: ($lg)-1+"px") {
		 @content;
	   }
   }
   @mixin min-md {
	   @media (min-width: ($md)-1+"px") {
		 @content;
	   }
   }
   
   @mixin min-sm {
	   @media (min-width: ($sm)-1+"px") {
		 @content;
	   }
   }
   
   @mixin min-xs {
	   @media (min-width: ($xs)-1+"px") {
		 @content;
	   }
   }
   
   html,
   body {
	   width: 100%;
	   height: 100%;
   }
   
   html {
	   font-size: 62.5%; //10px
	   // @include min-xs {
	   // }
	   // @include min-sm {
	   // }
	   @include min-md {
		   font-size: 75%;
	   }
	   @include min-lg {
		   font-size: 87.5%;
	   }
   }
   
   //Reset (Eric Meyer's Reset CSS v2.0 http://cssreset.com)
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
	   margin: 0;
	   padding: 0;
	   border: 0;
	   vertical-align: baseline;
	   letter-spacing: .1em;
	   line-height: 1.8;
   }
   
   body {
	   font-feature-settings: "palt";
	   font-size: 1.2rem;
	   font-family: $font-sans;
   }
   
   /* HTML5 display-role reset for older browsers */
   ol, ul {
	   list-style: none;
   }
   blockquote, q {
	   quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
	   content: '';
	   content: none;
   }
   table {
	   border-collapse: collapse;
	   border-spacing: 0;
   }
   
   img {
	   display: block;
	   max-width: 100%;
	   vertical-align: bottom;
	   height: auto;
   }
   
   a{
	   text-decoration: none;
   }
   
   button{
	   background-color: transparent;
	   border: none;
	   cursor: pointer;
	   outline: none;
	   padding: 0;
	   appearance: none;
   }