// 共通部分
//
// スタンダードなボタン
//
// Markup:
// <div class="balloon">テストテスト</div>
//
// Styleguide 4.0.0

@charset "UTF-8";

// ----------------------
// == 共通部分
// ----------------------

#wrap {
	position: relative;
	z-index: 2;
	background-color: $base1;
	overflow: hidden;
	@include min-md {
		background-color: rgba($base1,.5);
	}
}

/* メニュー展開時など */
.body-fixed {
	position: fixed;
	width: 100%;
	height: 100%;
}

/* スクロール時 */
.body-scrolled {
	.pagetop {
		opacity: 1;
	}
}

/* リンクエリアのマウスポインタ指定 */
.link-area {
	cursor: pointer;
}

/* ページトップへ戻るボタン */
.pagetop {
	display: block;
	position: fixed;
	right: 0;
	bottom: 60px;
	width: 60px;
	height: 60px;
	background-color: transparent;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	z-index: 51;
	color: $white;
	opacity: 0;
	filter: drop-shadow(0 0 5px rgba(0,0,0,.6));
	@include trans-ease(.2);
	@include min-md {
		bottom: 0;
	}
}

/* テキストアニメーション */
.txt-animate {
	display: inline-block;
}

/* twitterタイムライン スマホ閲覧時にはみ出るバグ修正 */
.twitter {
	iframe {
		width: 740px !important;
	}
}

/* モーダルウィンドウの挙動 */
.modal {
	&-wrap {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		opacity: 0;
		pointer-events: none;
		z-index: 5;
		@include trans-ease(.5);
		&-on {
			opacity: 1;
			pointer-events: auto;
		}
	}
	&-cont {
		display: none;
	}
	&-close {
		position: absolute;
		top: -50px;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 1px;
			margin: auto;
			background-color: $white;
		}
		&::before {
			left: 50%;
			transform: rotate(45deg);
		}
		&::after {
			right: 50%;
			transform: rotate(-45deg);
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0,0,0,.7);
	z-index: 3;
	pointer-events: none;
	opacity: 0;
	@include trans-ease(.2);
	&-on {
		opacity: 1;
		pointer-events: auto;
	}
}

.main {
	padding-top: 250px;
	@media (max-width: 780px){
		padding-top: 75px;
	}
}

.fv {
	position: relative;
	background: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,0));
	background-color: #0E3175;
	&-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 200px;
		filter: drop-shadow(0 30px 6px rgba(0,0,0,.3));
		img {
			width: 100%;
		}
	}
	img {
		width: 100%;
	}
	@include min-md {
		&-logo {
			width: 400px;
		}
	}
}

.breadcrumb {
	background-color: #0E3175;
	margin: 0;
	padding: 1.5rem 2rem;
	@include min-md {
		justify-content: center;
	}
	ol {
		flex-wrap: wrap;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	a,span {
		color: $white;
	}
	.arrow {
		margin: 0 .5rem;
	}
}

.inner {
	max-width: $lg + px;
	// width: 85%;
	width: calc(100% - 60px);
	margin: auto;
	&-wide {
		@extend .inner;
		width: calc(100% - 40px);
	}
	&-full {
		@extend .inner;
		width: 100%;
	}
}

.sec {
	max-width: 100%;
	width: 100%;
	padding: 6rem 0;
	background-color: rgba($black,.05);
	&-head {
		margin-bottom: 5rem;
	}
	&-ttlarea {
		margin-bottom: 4rem;
		text-align: center;
	}
	&-enttl,&-ttl,&-subttl {
		font-weight: bold;
		line-height: 1.2;
	}
	&-enttl {
		margin-bottom: .5rem;
		font-size: 2.4rem;
		font-family: $font-en;
		font-style: italic;
		color: $key;
	}
	&-ttl {
		margin-bottom: 2.5rem;
		font-size: $font-size-ttl;
	}
	&-subttl {
		font-size: $font-size-subttl;
	}
}

.sentence {
	p {
		@include sentence;
	}
}

.layer {
	position: relative;
	z-index: 2;
	// &[data-layer] {
	// 	z-index: attr(data-layer);
	// }
}

*[class*="shadow-"] {
    position: relative;
    &::after {
        @include bgElm;
        height: 100px;
    }
}
.shadow {
    &-top::after {
        top: 0;
        bottom: bottom;
        background: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,.5));
    }
    &-btm::after {
        top: auto;
        bottom: 0;
        background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.5));
    }
}

.page {
	&-head {
		.card-body {
			@include shadow;
		}
		img {
			width: 100%;
		}
		@include min-md {
			.card {
				flex-direction: row;
				picture {
					width: 45%;
					max-width: 750px;
				}
				&-body {
					margin: 0 !important;
					box-shadow: none;
					display: flex;
					align-items: center;
					.cat-icon {
						display: flex;
						align-items: center;
						img {
							width: 350px;
						}
					}
				}
				&-title {
					font-size: 2.6rem;
				}
				.tag {
					margin-bottom: 1.5rem !important;
				}
			}
		}
		.acordion {
			margin-top: -2.5rem;
		}
	}
}

.singular {
	position: relative;
	background-color: #EAEAEA !important;
	&::after {
		@include bgElm;
		position: fixed;
		width: 100%;
		background-image: url(../images/cont-bg.svg);
		background-size: 100%;
		@include min-md {
			background-size: 60%;
		}
	}
	&::before {
		@include bgElm;
		bottom: auto;
		height: 250px;
		background-image: url(https://www.music.ac.jp/asset/img/bg_under.jpg);
	}
	& > * {
		position: relative;
		z-index: 2;
	}
	article .detail {
		background-color: transparent !important;
	}
}

.cat{
	&-archive {
		.card-body {
			padding-left: 2rem;
			padding-right: 2rem;
			@include shadow;
		}
		.card-title {
			padding: 2rem 0 2rem 0;
		}
		.card-wrap {
			margin-bottom: 4rem;
		}
		@include min-md {
			padding-top: 8rem !important;
			.card-body {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}
	// &-type {
	// 	@each $key, $color in $theme-colors {
	// 		&-#{$key} {
	// 			.card-title { color: $color; }
	// 			.detail-ttl::after { background-color: $color; }
	// 		}
	// 	}
	// }
	&-icon {
		position: absolute;
		top: 1rem;
		right: 0;
		opacity: .5;
		@include min-md {
			img {
				width: 180px;
			}
		}
	}
	&-top {
		.page-head {
			.card-title {
				padding: .5rem 0 .5rem 0;
			}
			.cat-icon {
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		&-list {
			.row {
				justify-content: center;
			}
			.card {
				@include shadow;
				@include min-md {
					box-shadow: none;
					&-body {
						@include shadow;
					}
				}
			}
		}
	}
	&-other {
		&-list {
			li {
				position: relative;
				background-color: $white;
				border-bottom: 1px solid rgba(0,0,0,.1);
				@include trans-ease(.2);
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 3rem;
					margin: auto;
					width: 10px;
					height: 10px;
					border-right: 3px solid transparent;
					border-bottom: 3px solid transparent;
					transform: rotate(-45deg);
					@include trans-ease(.2);
				}
				&:hover {
					background-color: #f6f6f6;
					&::after {
						right: 2.5rem;
					}
					.cat-other-icon {
						margin-right: 1.5rem !important;
					}
				}
				@each $key, $color in $theme-colors {
					&[data-color="#{$key}"] {
						.cat-other-ttl {color: $color;}
						&::after {border-color: $color;}
					}
				}
			}
			a {
				padding: 2rem 6rem 2rem 2rem;
				display: flex;
				align-items: center;
				text-decoration: none;
			}
			@include min-md {
				display: flex;
				flex-wrap: wrap;
				background-color: $white;
				li {
					width: 50%;
					border-right: 1px solid rgba(0,0,0,.2);
					&:nth-child(even) {
						border-right: none;
					}
				}
			}
		}
		&-icon {
			width: 60px;
			margin-right: 1rem;
			@include trans-ease(.2);
		}
		&-ttl {
			flex: 1;
			font-size: 1.6rem;
			font-weight: bold;
			line-height: 1.3;
			span {
				font-size: 1.2rem;
				color: $black;
				font-weight: bold;
			}
		}
	}
}

.other {
	&-archive {
		background-color: #0E3175;
		.card {
			@include shadow;
		}
		.inner {
			@include min-md {
				max-width: 100%;
			}
		}
	}
	&-cat {
		h2 {
			@include min-md {
				text-align: center;
			}
		}
	}
}

.acordion {
	max-width: 750px;
	&-ttl,
	&-cont {
		position: relative;
		font-weight: bold;
		color: $white;
	}
	&-ttl {
		font-size: 1.4rem;
		padding: 1.2rem 3rem;
		background-color: rgba(0,0,0,.2);
		cursor: pointer;
		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 1.2rem;
			margin: auto;
			display: block;
			width: 17px;
			height: 1px;
			background-color: $white;
			@include trans-ease(.2);
		}
		&::before {
			transform: rotate(90deg);
		}
		&.on {
			&::before {
				transform: rotate(0deg);
			}
		}
	}
	&-cont {
		display: none;
		background-color: rgba(0,0,0,.1);
		a {
			display: block;
			position: relative;
			padding: 1rem 5rem 1rem 3rem;
			border-bottom: 1px solid rgba(255,255,255,.2);
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 1.6rem;
				margin: auto;
				width: 8px;
				height: 8px;
				border-right: 2px solid $white;
				border-bottom: 2px solid $white;
				transform: rotate(45deg);
			}
		}
	}
}

.detail {
	&-cont {
		padding: 5rem 0;
		border-bottom: 1px solid rgba(0,0,0,.1);
		.inner {
			max-width: 750px;
		}
		h3 {
			padding: 10px 0;
			margin: 40px 0 20px;
			border-bottom: 2px dotted transparent;
			border-top: 2px dotted transparent;
			font-weight: bold;
		}
		li {
			position: relative;
			padding-left: 1.5rem;
			margin-bottom: 1rem;
			font-size: 1.4rem;
			&::after {
				content: "";
				position: absolute;
				top: 1rem;
				left: 0;
				width: .8rem;
				height: .8rem;
				border-radius: .8rem;
				border: 3px solid transparent;
			}
		}
	}
	@each $key, $color in $theme-colors {
		&-#{$key} {
			.detail-cont {
				h3 {
					border-color: $color;
				}
				li {
					&::after {
						border-color: $color;
					}
				}
			}
		}
	}
	&-ttl {
		position: relative;
		margin-bottom: 3rem;
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.2;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: -3rem;
			margin: auto;
			width: 5px;
		}
		@each $key, $color in $theme-colors {
			&[data-color="#{$key}"] {
				&::after { background-color: $color; }
			}
		}
	}
	&-txt {
		p {
			margin-bottom: 2rem;
			font-size: 1.4rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.back-top {
	position: relative;
	z-index: 2;
    &-btnarea {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translate(0,-50%);
		width: 190px;
		img {
			width: 100%;
		}
		@include min-md {
			width: 500px;
		}
        .btn {
            margin-top: -.5rem;
			background-color: rgba(0,0,0,.5) !important;
			text-align: center;
        }
    }
}

.link-area {
	@include trans-ease($changeSpeed);
	&:hover {
		opacity: .7;
		transform: translate(0,.2rem);
	}
}

.row {
	@include max-md {
		margin-left: 0;
		margin-right: 0;
	}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	@include max-md {
		padding-left: 0;
		padding-right: 0;
	}
}