@charset "UTF-8";

// ----------------------
// == footer
// ----------------------
#spc {
	padding-top: 0;
}
footer {
	position: relative;
    padding: 50px 0;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    padding-bottom: 200px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
	.column {
		font-size: 1rem;
		h2 {
			font-size: 1rem;
		}
	}
}
#footArea {
	position: relative;
	z-index: 2;
}
@media (max-width: 780px) {
	footer {
		padding: 0px 0 0px 0;
	}
}
@media (max-width: 780px) {
	footer {
		padding-bottom: 100px;
	}
}