@charset "UTF-8";

// ----------------------
// == header
// ----------------------
$headHeight: 60px;

#bar,#jkk,#status {
	font-size: 1rem;
}
header {
	// position: relative;
	.menu,.menuT {
		a {
			font-size: .85rem;
		}
	}
	.menuT {
		& > div {
			height: auto !important;
		}
		a {
			color: black;
			text-decoration: none;
		}
	}
}

@media (max-width: 780px){
	header {
		background-color: $black;
	}
	#spMenu > div > h3 {
		font-size: calc(100% + .1em);
	}
	#spMenu > div > h3 > svg {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
	}
	.drawer svg, .dm svg {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
	}
}