@charset "UTF-8";
/* SMACSS + SCSS starter v2.1 Inspired by SMACSS http://smacss.com Author: @jonathanpath Date: 4 August 2015 https://github.com/jonathanpath/SASS-SMACSS See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss Coding rules : https://github.com/necolas/idiomatic-css */
/* settings */
.bg-white { background-color: #fff !important; }

.bg-gray { background-color: #EAEAEA !important; }

.bg-black { background-color: #000320 !important; }

.bg-key { background-color: #ff0000 !important; }

.bg-base1 { background-color: #0E3175 !important; }

.bg-base2 { background-color: #009DFF !important; }

.box1 { font-size: 1px; }

.box2 { font-size: 2px; }

.box3 { font-size: 3px; }

.box4 { font-size: 4px; }

.box5 { font-size: 5px; }

.box6 { font-size: 6px; }

.box7 { font-size: 7px; }

.box8 { font-size: 8px; }

.box9 { font-size: 9px; }

.box10 { font-size: 10px; }

.bg-vm { background-color: #F23C6D !important; }

.bg-esm { background-color: #E6AB3B !important; }

.bg-bm { background-color: #3CB9D6 !important; }

.bg-atv { background-color: #4A50E6 !important; }

.bg-jm { background-color: #7D45BE !important; }

.bg-d { background-color: #D13ECB !important; }

.bg-lec { background-color: #5DC7A2 !important; }

.bg-pm { background-color: #50A745 !important; }

.color-white { color: #fff !important; }

.color-gray { color: #EAEAEA !important; }

.color-black { color: #000320 !important; }

.color-key { color: #ff0000 !important; }

.color-base1 { color: #0E3175 !important; }

.color-base2 { color: #009DFF !important; }

.color-vm { color: #F23C6D !important; }

.color-esm { color: #E6AB3B !important; }

.color-bm { color: #3CB9D6 !important; }

.color-atv { color: #4A50E6 !important; }

.color-jm { color: #7D45BE !important; }

.color-d { color: #D13ECB !important; }

.color-lec { color: #5DC7A2 !important; }

.color-pm { color: #50A745 !important; }

.fz-30 { font-size: 3rem !important; }

.fz-28 { font-size: 2.8rem !important; }

.fz-26 { font-size: 2.6rem !important; }

.fz-24 { font-size: 2.4rem !important; }

.fz-22 { font-size: 2.2rem !important; }

.fz-20 { font-size: 2rem !important; }

.fz-18 { font-size: 1.8rem !important; }

.fz-16 { font-size: 1.6rem !important; }

.fz-14 { font-size: 1.4rem !important; }

.fz-12 { font-size: 1.2rem !important; }

/* tool */
@keyframes hurueru { 0% { transform: translate(0px, 0px) rotateZ(0deg); }
  25% { transform: translate(5px, 5px) rotateZ(5deg); }
  50% { transform: translate(0px, 5px) rotateZ(0deg); }
  75% { transform: translate(5px, 0px) rotateZ(-5deg); }
  100% { transform: translate(0px, 0px) rotateZ(0deg); } }

/* transition */
.delay01 { transition-delay: .1s !important; }

.delay02 { transition-delay: .2s !important; }

.delay03 { transition-delay: .3s !important; }

.delay04 { transition-delay: .4s !important; }

.delay05 { transition-delay: .5s !important; }

.delay06 { transition-delay: .6s !important; }

.delay07 { transition-delay: .7s !important; }

.delay08 { transition-delay: .8s !important; }

.delay09 { transition-delay: .9s !important; }

.delay10 { transition-delay: 1s !important; }

.delay11 { transition-delay: 1.1s !important; }

.delay12 { transition-delay: 1.2s !important; }

.delay13 { transition-delay: 1.3s !important; }

.delay14 { transition-delay: 1.4s !important; }

.delay15 { transition-delay: 1.5s !important; }

.delay16 { transition-delay: 1.6s !important; }

.delay17 { transition-delay: 1.7s !important; }

.delay18 { transition-delay: 1.8s !important; }

.delay19 { transition-delay: 1.9s !important; }

.delay20 { transition-delay: 2s !important; }

/* スクロール時のアニメーション */
.laser { position: relative; overflow: hidden; }

.laser::after { content: ""; position: absolute; top: 0; bottom: 0; left: -100%; width: 100%; background: #ff0000; transition: all 1s ease; }

.laser .hide { opacity: 0; transition: all 1s ease; transition-delay: .5s; }

.laser.inview-js-on::after { left: 100%; }

.laser.inview-js-on .hide { opacity: 1; }

/* fade in */
.fade-in { opacity: 0; transition: all 0.3s ease; }

.fade-in.inview-js-on { opacity: 1; }

.inview-js-on .fade-in { opacity: 1; }

/* fade in zoom */
.fade-in-zoom { transform: scale(0.8); opacity: 0; transition: all 0.3s ease; }

.fade-in-zoom.inview-js-on { transform: scale(1); opacity: 1; }

.inview-js-on .fade-in-zoom { transform: scale(1); opacity: 1; }

/* fade in up */
.fade-in-up { transform: translateY(20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-up.inview-js-on { transform: translateY(0px); opacity: 1; }

.inview-js-on .fade-in-up { transform: translateY(0px); opacity: 1; }

/* fade in down */
.fade-in-down { transform: translateY(-20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-down.inview-js-on { transform: translateY(0px); opacity: 1; }

.inview-js-on .fade-in-down { transform: translateY(0px); opacity: 1; }

/* fade in left */
.fade-in-left { transform: translateX(20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-left.inview-js-on { transform: translateX(0px); opacity: 1; }

.inview-js-on .fade-in-left { transform: translateX(0px); opacity: 1; }

/* fade in right */
.fade-in-right { transform: translateX(-20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-right.inview-js-on { transform: translateX(0px); opacity: 1; }

.inview-js-on .fade-in-right { transform: translateX(0px); opacity: 1; }

/* fade in up left */
.fade-in-up-left { transform: translateY(20px) translateX(20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-up-left.inview-js-on { transform: translateY(0px) translateX(0px); opacity: 1; }

.inview-js-on .fade-in-up-left { transform: translateY(0px) translateX(0px); opacity: 1; }

/* fade in up right */
.fade-in-up-right { transform: translateY(20px) translateX(-20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-up-right.inview-js-on { transform: translateY(0px) translateX(0px); opacity: 1; }

.inview-js-on .fade-in-up-right { transform: translateY(0px) translateX(0px); opacity: 1; }

/* fade in down left */
.fade-in-down-left { transform: translateY(-20px) translateX(20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-down-left.inview-js-on { transform: translateY(0px) translateX(0px); opacity: 1; }

.inview-js-on .fade-in-down-left { transform: translateY(0px) translateX(0px); opacity: 1; }

/* fade in down right */
.fade-in-down-right { transform: translateY(-20px) translateX(-20px); opacity: 0; transition: all 0.3s ease; }

.fade-in-down-right.inview-js-on { transform: translateY(0px) translateX(0px); opacity: 1; }

.inview-js-on .fade-in-down-right { transform: translateY(0px) translateX(0px); opacity: 1; }

.hover-bloom { position: relative; overflow: hidden; margin: 0; height: 100%; width: 100%; filter: grayscale(0); }

.hover-bloom::before { position: absolute; top: 50%; left: 50%; z-index: 2; display: block; content: ''; width: 0; height: 0; background: rgba(0, 0, 0, 0.2); border-radius: 100%; transform: translate(-50%, -50%); opacity: 0; }

.hover-bloom:hover { animation: bloom ease-in-out .75s forwards; }

.hover-bloom:hover::before { animation: circle .75s; }

@keyframes bloom { 0% { filter: grayscale(0); }
  40% { filter: grayscale(0.1); }
  100% { filter: grayscale(0.2); } }

@keyframes circle { 0% { opacity: .5;
    background: rgba(0, 0, 0, 0.1); }
  40% { opacity: 1;
    background: rgba(0, 0, 0, 0.1); }
  100% { width: 200%;
    height: 200%;
    opacity: 0; } }

.hover-verticle, .hover-horizon, .hover-zoom, .hover-slide { overflow: hidden; transition: all 0.3s ease; }

.hover-verticle:hover, .hover-horizon:hover, .hover-zoom:hover, .hover-slide:hover { color: #fff; }

.hover-verticle::after, .hover-horizon::after, .hover-zoom::after, .hover-slide::after { transition: all 0.3s ease; content: ''; background: #000320; position: absolute; z-index: -1; }

.hover-verticle::after { height: 0; left: 0; top: 0; width: 100%; }

.hover-verticle:hover::after { height: 100%; }

.hover-horizon::after { height: 100%; left: 0; top: 0; width: 0; }

.hover-horizon:hover::after { width: 100%; }

.hover-zoom::after { height: 0; left: 50%; top: 50%; width: 0; }

.hover-zoom:hover::after { height: 100%; left: 0; top: 0; width: 100%; }

.hover-slide::after { height: 100%; left: -50%; top: 0; transform: skew(50deg); transition-duration: 0.6s; transform-origin: top left; width: 0; }

.hover-slide:hover::after { height: 100%; width: 150%; }

/* layout */
/* =========================== Base =========================== */
html, body { width: 100%; height: 100%; }

html { font-size: 62.5%; }

@media (min-width: 991px) { html { font-size: 75%; } }

@media (min-width: 1199px) { html { font-size: 87.5%; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; letter-spacing: .1em; line-height: 1.8; }

body { font-feature-settings: "palt"; font-size: 1.2rem; font-family: "Noto Sans JP", sans-serif; }

/* HTML5 display-role reset for older browsers */
ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { display: block; max-width: 100%; vertical-align: bottom; height: auto; }

a { text-decoration: none; }

button { background-color: transparent; border: none; cursor: pointer; outline: none; padding: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

#wrap { position: relative; z-index: 2; background-color: #0E3175; overflow: hidden; }

@media (min-width: 991px) { #wrap { background-color: rgba(14, 49, 117, 0.5); } }

/* メニュー展開時など */
.body-fixed { position: fixed; width: 100%; height: 100%; }

/* スクロール時 */
.body-scrolled .pagetop { opacity: 1; }

/* リンクエリアのマウスポインタ指定 */
.link-area { cursor: pointer; }

/* ページトップへ戻るボタン */
.pagetop { display: block; position: fixed; right: 0; bottom: 60px; width: 60px; height: 60px; background-color: transparent; text-align: center; line-height: 60px; font-size: 30px; z-index: 51; color: #fff; opacity: 0; filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6)); transition: all 0.2s ease; }

@media (min-width: 991px) { .pagetop { bottom: 0; } }

/* テキストアニメーション */
.txt-animate { display: inline-block; }

/* twitterタイムライン スマホ閲覧時にはみ出るバグ修正 */
.twitter iframe { width: 740px !important; }

/* モーダルウィンドウの挙動 */
.modal-wrap { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; pointer-events: none; z-index: 5; transition: all 0.5s ease; }

.modal-wrap-on { opacity: 1; pointer-events: auto; }

.modal-cont { display: none; }

.modal-close { position: absolute; top: -50px; right: 0; width: 30px; height: 30px; cursor: pointer; }

.modal-close::before, .modal-close::after { content: ""; position: absolute; top: 0; bottom: 0; margin: auto; width: 1px; margin: auto; background-color: #fff; }

.modal-close::before { left: 50%; transform: rotate(45deg); }

.modal-close::after { right: 50%; transform: rotate(-45deg); }

.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-color: rgba(0, 0, 0, 0.7); z-index: 3; pointer-events: none; opacity: 0; transition: all 0.2s ease; }

.overlay-on { opacity: 1; pointer-events: auto; }

.main { padding-top: 250px; }

@media (max-width: 780px) { .main { padding-top: 75px; } }

.fv { position: relative; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); background-color: #0E3175; }

.fv-logo { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 200px; filter: drop-shadow(0 30px 6px rgba(0, 0, 0, 0.3)); }

.fv-logo img { width: 100%; }

.fv img { width: 100%; }

@media (min-width: 991px) { .fv-logo { width: 400px; } }

.breadcrumb { background-color: #0E3175; margin: 0; padding: 1.5rem 2rem; }

@media (min-width: 991px) { .breadcrumb { -ms-flex-pack: center; justify-content: center; } }

.breadcrumb ol { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.breadcrumb a { text-decoration: underline; }

.breadcrumb a:hover { text-decoration: none; }

.breadcrumb a, .breadcrumb span { color: #fff; }

.breadcrumb .arrow { margin: 0 .5rem; }

.inner, .inner-wide, .inner-full { max-width: 1200px; width: calc(100% - 60px); margin: auto; }

.inner-wide { width: calc(100% - 40px); }

.inner-full { width: 100%; }

.sec { max-width: 100%; width: 100%; padding: 6rem 0; background-color: rgba(0, 3, 32, 0.05); }

.sec-head { margin-bottom: 5rem; }

.sec-ttlarea { margin-bottom: 4rem; text-align: center; }

.sec-enttl, .sec-ttl, .sec-subttl { font-weight: bold; line-height: 1.2; }

.sec-enttl { margin-bottom: .5rem; font-size: 2.4rem; font-family: "Hind", sans-serif; font-style: italic; color: #ff0000; }

.sec-ttl { margin-bottom: 2.5rem; font-size: 2.4rem; }

.sec-subttl { font-size: 2rem; }

.sentence p { margin-bottom: 1rem; }

.sentence p:last-child { margin-bottom: 0; }

.layer { position: relative; z-index: 2; }

*[class*="shadow-"] { position: relative; }

*[class*="shadow-"]::after { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-position: center; background-size: cover; background-repeat: no-repeat; height: 100px; }

.shadow-top::after { top: 0; bottom: bottom; background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }

.shadow-btm::after { top: auto; bottom: 0; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }

.page-head .card-body { box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.16); }

.page-head img { width: 100%; }

@media (min-width: 991px) { .page-head .card { -ms-flex-direction: row; flex-direction: row; }
  .page-head .card picture { width: 45%; max-width: 750px; }
  .page-head .card-body { margin: 0 !important; box-shadow: none; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }
  .page-head .card-body .cat-icon { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }
  .page-head .card-body .cat-icon img { width: 350px; }
  .page-head .card-title { font-size: 2.6rem; }
  .page-head .card .tag { margin-bottom: 1.5rem !important; } }

.page-head .acordion { margin-top: -2.5rem; }

.singular { position: relative; background-color: #EAEAEA !important; }

.singular::after { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-position: center; background-size: cover; background-repeat: no-repeat; position: fixed; width: 100%; background-image: url(../images/cont-bg.svg); background-size: 100%; }

@media (min-width: 991px) { .singular::after { background-size: 60%; } }

.singular::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-position: center; background-size: cover; background-repeat: no-repeat; bottom: auto; height: 250px; background-image: url(https://www.music.ac.jp/asset/img/bg_under.jpg); }

.singular > * { position: relative; z-index: 2; }

.singular article .detail { background-color: transparent !important; }

.cat-archive .card-body { padding-left: 2rem; padding-right: 2rem; box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.16); }

.cat-archive .card-title { padding: 2rem 0 2rem 0; }

.cat-archive .card-wrap { margin-bottom: 4rem; }

@media (min-width: 991px) { .cat-archive { padding-top: 8rem !important; }
  .cat-archive .card-body { width: 100%; margin-left: 0 !important; margin-right: 0 !important; } }

.cat-icon { position: absolute; top: 1rem; right: 0; opacity: .5; }

@media (min-width: 991px) { .cat-icon img { width: 180px; } }

.cat-top .page-head .card-title { padding: .5rem 0 .5rem 0; }

.cat-top .page-head .cat-icon { top: 0; bottom: 0; margin: auto; }

.cat-top-list .row { -ms-flex-pack: center; justify-content: center; }

.cat-top-list .card { box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.16); }

@media (min-width: 991px) { .cat-top-list .card { box-shadow: none; }
  .cat-top-list .card-body { box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.16); } }

.cat-other-list li { position: relative; background-color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.1); transition: all 0.2s ease; }

.cat-other-list li::after { content: ""; display: block; position: absolute; top: 0; bottom: 0; right: 3rem; margin: auto; width: 10px; height: 10px; border-right: 3px solid transparent; border-bottom: 3px solid transparent; transform: rotate(-45deg); transition: all 0.2s ease; }

.cat-other-list li:hover { background-color: #f6f6f6; }

.cat-other-list li:hover::after { right: 2.5rem; }

.cat-other-list li:hover .cat-other-icon { margin-right: 1.5rem !important; }

.cat-other-list li[data-color="vm"] .cat-other-ttl { color: #F23C6D; }

.cat-other-list li[data-color="vm"]::after { border-color: #F23C6D; }

.cat-other-list li[data-color="esm"] .cat-other-ttl { color: #E6AB3B; }

.cat-other-list li[data-color="esm"]::after { border-color: #E6AB3B; }

.cat-other-list li[data-color="bm"] .cat-other-ttl { color: #3CB9D6; }

.cat-other-list li[data-color="bm"]::after { border-color: #3CB9D6; }

.cat-other-list li[data-color="atv"] .cat-other-ttl { color: #4A50E6; }

.cat-other-list li[data-color="atv"]::after { border-color: #4A50E6; }

.cat-other-list li[data-color="jm"] .cat-other-ttl { color: #7D45BE; }

.cat-other-list li[data-color="jm"]::after { border-color: #7D45BE; }

.cat-other-list li[data-color="d"] .cat-other-ttl { color: #D13ECB; }

.cat-other-list li[data-color="d"]::after { border-color: #D13ECB; }

.cat-other-list li[data-color="lec"] .cat-other-ttl { color: #5DC7A2; }

.cat-other-list li[data-color="lec"]::after { border-color: #5DC7A2; }

.cat-other-list li[data-color="pm"] .cat-other-ttl { color: #50A745; }

.cat-other-list li[data-color="pm"]::after { border-color: #50A745; }

.cat-other-list a { padding: 2rem 6rem 2rem 2rem; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; text-decoration: none; }

@media (min-width: 991px) { .cat-other-list { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #fff; }
  .cat-other-list li { width: 50%; border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .cat-other-list li:nth-child(even) { border-right: none; } }

.cat-other-icon { width: 60px; margin-right: 1rem; transition: all 0.2s ease; }

.cat-other-ttl { -ms-flex: 1; flex: 1; font-size: 1.6rem; font-weight: bold; line-height: 1.3; }

.cat-other-ttl span { font-size: 1.2rem; color: #000320; font-weight: bold; }

.other-archive { background-color: #0E3175; }

.other-archive .card { box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.16); }

@media (min-width: 991px) { .other-archive .inner, .other-archive .inner-wide, .other-archive .inner-full { max-width: 100%; } }

@media (min-width: 991px) { .other-cat h2 { text-align: center; } }

.acordion { max-width: 750px; }

.acordion-ttl, .acordion-cont { position: relative; font-weight: bold; color: #fff; }

.acordion-ttl { font-size: 1.4rem; padding: 1.2rem 3rem; background-color: rgba(0, 0, 0, 0.2); cursor: pointer; }

.acordion-ttl::after, .acordion-ttl::before { content: ""; position: absolute; top: 0; bottom: 0; right: 1.2rem; margin: auto; display: block; width: 17px; height: 1px; background-color: #fff; transition: all 0.2s ease; }

.acordion-ttl::before { transform: rotate(90deg); }

.acordion-ttl.on::before { transform: rotate(0deg); }

.acordion-cont { display: none; background-color: rgba(0, 0, 0, 0.1); }

.acordion-cont a { display: block; position: relative; padding: 1rem 5rem 1rem 3rem; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.acordion-cont a::after { content: ""; display: block; position: absolute; top: 0; bottom: 0; right: 1.6rem; margin: auto; width: 8px; height: 8px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(45deg); }

.detail-cont { padding: 5rem 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.detail-cont .inner, .detail-cont .inner-wide, .detail-cont .inner-full { max-width: 750px; }

.detail-cont h3 { padding: 10px 0; margin: 40px 0 20px; border-bottom: 2px dotted transparent; border-top: 2px dotted transparent; font-weight: bold; }

.detail-cont li { position: relative; padding-left: 1.5rem; margin-bottom: 1rem; font-size: 1.4rem; }

.detail-cont li::after { content: ""; position: absolute; top: 1rem; left: 0; width: .8rem; height: .8rem; border-radius: .8rem; border: 3px solid transparent; }

.detail-vm .detail-cont h3 { border-color: #F23C6D; }

.detail-vm .detail-cont li::after { border-color: #F23C6D; }

.detail-esm .detail-cont h3 { border-color: #E6AB3B; }

.detail-esm .detail-cont li::after { border-color: #E6AB3B; }

.detail-bm .detail-cont h3 { border-color: #3CB9D6; }

.detail-bm .detail-cont li::after { border-color: #3CB9D6; }

.detail-atv .detail-cont h3 { border-color: #4A50E6; }

.detail-atv .detail-cont li::after { border-color: #4A50E6; }

.detail-jm .detail-cont h3 { border-color: #7D45BE; }

.detail-jm .detail-cont li::after { border-color: #7D45BE; }

.detail-d .detail-cont h3 { border-color: #D13ECB; }

.detail-d .detail-cont li::after { border-color: #D13ECB; }

.detail-lec .detail-cont h3 { border-color: #5DC7A2; }

.detail-lec .detail-cont li::after { border-color: #5DC7A2; }

.detail-pm .detail-cont h3 { border-color: #50A745; }

.detail-pm .detail-cont li::after { border-color: #50A745; }

.detail-ttl { position: relative; margin-bottom: 3rem; font-size: 2rem; font-weight: bold; line-height: 1.2; }

.detail-ttl::after { content: ""; position: absolute; top: 0; bottom: 0; left: -3rem; margin: auto; width: 5px; }

.detail-ttl[data-color="vm"]::after { background-color: #F23C6D; }

.detail-ttl[data-color="esm"]::after { background-color: #E6AB3B; }

.detail-ttl[data-color="bm"]::after { background-color: #3CB9D6; }

.detail-ttl[data-color="atv"]::after { background-color: #4A50E6; }

.detail-ttl[data-color="jm"]::after { background-color: #7D45BE; }

.detail-ttl[data-color="d"]::after { background-color: #D13ECB; }

.detail-ttl[data-color="lec"]::after { background-color: #5DC7A2; }

.detail-ttl[data-color="pm"]::after { background-color: #50A745; }

.detail-txt p { margin-bottom: 2rem; font-size: 1.4rem; }

.detail-txt p:last-child { margin-bottom: 0; }

.back-top { position: relative; z-index: 2; }

.back-top-btnarea { position: absolute; top: 50%; left: 0; right: 0; margin: auto; transform: translate(0, -50%); width: 190px; }

.back-top-btnarea img { width: 100%; }

@media (min-width: 991px) { .back-top-btnarea { width: 500px; } }

.back-top-btnarea .btn { margin-top: -.5rem; background-color: rgba(0, 0, 0, 0.5) !important; text-align: center; }

.link-area { transition: all 0.3s ease; }

.link-area:hover { opacity: .7; transform: translate(0, 0.2rem); }

@media (max-width: 992px) { .row { margin-left: 0; margin-right: 0; } }

@media (max-width: 992px) { .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-left: 0; padding-right: 0; } }

#spc { padding-top: 0; }

footer { position: relative; padding: 50px 0; background: black; color: #fff; padding-bottom: 200px; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; z-index: 2; }

footer .column { font-size: 1rem; }

footer .column h2 { font-size: 1rem; }

#footArea { position: relative; z-index: 2; }

@media (max-width: 780px) { footer { padding: 0px 0 0px 0; } }

@media (max-width: 780px) { footer { padding-bottom: 100px; } }

#bar, #jkk, #status { font-size: 1rem; }

header .menu a, header .menuT a { font-size: .85rem; }

header .menuT > div { height: auto !important; }

header .menuT a { color: black; text-decoration: none; }

@media (max-width: 780px) { header { background-color: #000320; }
  #spMenu > div > h3 { font-size: calc(100% + .1em); }
  #spMenu > div > h3 > svg { position: absolute; right: 20px; top: 50%; transform: translateY(-50%); color: #fff; }
  .drawer svg, .dm svg { position: absolute; right: 20px; top: 50%; transform: translateY(-50%); color: #fff; } }

/* module */
.btn { position: relative; width: auto; max-width: 100%; word-wrap: break-word; padding: 1.2rem 3.5rem 1.2rem 2rem; background-color: #000320; border-radius: 0; color: #fff; font-size: 1.2rem; border: none; line-height: 1.2; white-space: normal; text-align: left; transition: all 0.3s ease; }

.btn::after { content: ""; position: absolute; top: 0; bottom: 0; margin: auto; right: 1.5rem; width: 8px; height: 8px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(45deg); transition: all 0.3s ease; }

.btn:hover { transform: translateY(0.2rem); color: #fff; opacity: .7; }

.btn:hover::after { right: 1rem; }

.btn[data-color="key"] { background-color: #ff0000; }

.btn[data-color="base1"] { background-color: #0E3175; }

.btn[data-color="base2"] { background-color: #009DFF; }

.btn[data-color="white"] { background-color: #fff; color: #000320; }

.btn[data-color="white"]::after { border-color: #000320; }

.btn[data-color=vm] { background-color: #F23C6D; }

.btn[data-color=esm] { background-color: #E6AB3B; }

.btn[data-color=bm] { background-color: #3CB9D6; }

.btn[data-color=atv] { background-color: #4A50E6; }

.btn[data-color=jm] { background-color: #7D45BE; }

.btn[data-color=d] { background-color: #D13ECB; }

.btn[data-color=lec] { background-color: #5DC7A2; }

.btn[data-color=pm] { background-color: #50A745; }

.btn-full { width: 100%; }

.btn-large { padding: 1.8rem 4.5rem 1.8rem 2rem; font-size: 1.4rem; }

.btn-line { background-color: transparent; border: 2px solid #000320; color: #000320; }

.btn-line::after { border-color: #000320; }

.btn-line[data-color="key"] { background-color: transparent; border-color: #ff0000; color: #ff0000; }

.btn-line[data-color="key"]::after { border-color: #ff0000; }

.btn-line[data-color="base1"] { background-color: transparent; border-color: #0E3175; color: #0E3175; }

.btn-line[data-color="base1"]::after { border-color: #0E3175; }

.btn-line[data-color="base2"] { background-color: transparent; border-color: #009DFF; color: #009DFF; }

.btn-line[data-color="base2"]::after { border-color: #009DFF; }

.btn-line[data-color="white"] { background-color: transparent; border-color: #fff; color: #fff; }

.btn-line[data-color="white"]::after { border-color: #fff; }

.btn-line[data-color=vm] { background-color: transparent; border-color: #F23C6D; color: #F23C6D; }

.btn-line[data-color=vm]::after { border-color: #F23C6D; }

.btn-line[data-color=esm] { background-color: transparent; border-color: #E6AB3B; color: #E6AB3B; }

.btn-line[data-color=esm]::after { border-color: #E6AB3B; }

.btn-line[data-color=bm] { background-color: transparent; border-color: #3CB9D6; color: #3CB9D6; }

.btn-line[data-color=bm]::after { border-color: #3CB9D6; }

.btn-line[data-color=atv] { background-color: transparent; border-color: #4A50E6; color: #4A50E6; }

.btn-line[data-color=atv]::after { border-color: #4A50E6; }

.btn-line[data-color=jm] { background-color: transparent; border-color: #7D45BE; color: #7D45BE; }

.btn-line[data-color=jm]::after { border-color: #7D45BE; }

.btn-line[data-color=d] { background-color: transparent; border-color: #D13ECB; color: #D13ECB; }

.btn-line[data-color=d]::after { border-color: #D13ECB; }

.btn-line[data-color=lec] { background-color: transparent; border-color: #5DC7A2; color: #5DC7A2; }

.btn-line[data-color=lec]::after { border-color: #5DC7A2; }

.btn-line[data-color=pm] { background-color: transparent; border-color: #50A745; color: #50A745; }

.btn-line[data-color=pm]::after { border-color: #50A745; }

.btn-border-left { position: relative; }

.btn-border-left::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; width: 5px; background-color: rgba(0, 0, 0, 0.1); }

.btn-list .btn { margin-bottom: 1rem; }

.btn-list .btn:last-child { margin-bottom: 0; }

.card { border-radius: 0; border: none; margin-bottom: 3rem; background-color: transparent; }

.card img { width: 100%; }

.card-body { padding: 3rem; background-color: #fff; }

@media (min-width: 991px) { .card-body.has-btn { padding-bottom: calc(3rem + 7rem); }
  .card-body.has-btn .btn { position: absolute; left: calc(3rem + 1rem); max-width: calc(100% - (3rem + 1rem) * 2); bottom: 3rem; margin: none; } }

.card-title { font-size: 2rem; font-weight: bold; margin-bottom: 2rem; line-height: 1.2; }

.card-title a { display: block; line-height: 1.4; font-weight: bold; text-decoration: none; transition: all 0.2s ease; }

.card-title a:hover { opacity: .7; transform: translate(0, 0.1rem); }

.card-wrap .card { margin-bottom: calc(3rem + 1rem); }

.card-wrap .card:last-child { margin-bottom: 0; }

@media (min-width: 991px) { .card-wrap.row .card:last-child { margin-bottom: calc(3rem + 1rem); } }

.card-wide .card-body { margin: -9rem 3rem 0; }

.card-bnr .card-body { padding: 8rem 3rem; background-color: #000320; background-position: center; background-size: cover; background-repeat: no-repeat; color: #fff; }

.card-badge { position: absolute; top: -1rem; left: 1rem; }

@media (min-width: 991px) { .card-badge { top: -1rem; left: 2rem; }
  .card-badge img { width: 100px; } }

.tag { display: -ms-inline-flexbox !important; display: inline-flex !important; border: 2px solid #fff; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-align: baseline; align-items: baseline; font-size: 1rem; font-weight: bold; padding: .2rem 1rem; line-height: 1.2; transition: all 0.2s ease; }

@media (min-width: 991px) { .tag { font-size: 1.2rem; } }

.tag[data-color="key"] { border-color: #ff0000; color: #ff0000; }

.tag[data-color="key"] .tag-head { background-color: #ff0000; }

.tag[data-color="base1"] { border-color: #0E3175; color: #0E3175; }

.tag[data-color="base1"] .tag-head { background-color: #0E3175; }

.tag[data-color="base2"] { border-color: #009DFF; color: #009DFF; }

.tag[data-color="base2"] .tag-head { background-color: #009DFF; }

.tag[data-color="white"] { border-color: #fff; color: #fff; }

.tag[data-color="white"] .tag-head { background-color: #fff; }

.tag[data-color="black"] { border-color: #000320; color: #000320; }

.tag[data-color="black"] .tag-head { background-color: #000320; }

.tag:hover { text-decoration: none; transform: translate(0, 0.1rem); opacity: .7; }

.tag[data-color=vm] { border-color: #F23C6D; color: #F23C6D; }

.tag[data-color=vm] .tag-head { background-color: #F23C6D; }

.tag[data-color=esm] { border-color: #E6AB3B; color: #E6AB3B; }

.tag[data-color=esm] .tag-head { background-color: #E6AB3B; }

.tag[data-color=bm] { border-color: #3CB9D6; color: #3CB9D6; }

.tag[data-color=bm] .tag-head { background-color: #3CB9D6; }

.tag[data-color=atv] { border-color: #4A50E6; color: #4A50E6; }

.tag[data-color=atv] .tag-head { background-color: #4A50E6; }

.tag[data-color=jm] { border-color: #7D45BE; color: #7D45BE; }

.tag[data-color=jm] .tag-head { background-color: #7D45BE; }

.tag[data-color=d] { border-color: #D13ECB; color: #D13ECB; }

.tag[data-color=d] .tag-head { background-color: #D13ECB; }

.tag[data-color=lec] { border-color: #5DC7A2; color: #5DC7A2; }

.tag[data-color=lec] .tag-head { background-color: #5DC7A2; }

.tag[data-color=pm] { border-color: #50A745; color: #50A745; }

.tag[data-color=pm] .tag-head { background-color: #50A745; }

.tag-cloud { display: -ms-flexbox; display: flex; }

.tag-cloud .tag { margin-right: .5rem; }

.has-tooltip { position: relative; }

.has-tooltip:hover .tooltip { opacity: 1; pointer-events: auto; }

.has-tooltip:hover .tooltip-top { top: 0; transform: translateY(-100%) scale(1); }

.has-tooltip:hover .tooltip-bottom { bottom: 0; transform: translateY(100%) scale(1); }

.has-tooltip:hover .tooltip-left { left: 0; transform: translateY(-50%) translateX(-100%) scale(1); }

.has-tooltip:hover .tooltip-right { right: 0; transform: translateY(-50%) translateX(100%) scale(1); }

.tooltip { position: absolute; font-size: 10px; background-color: #ff0000; padding: 5px 10px; opacity: 0; pointer-events: none; transition: all 0.1s ease; }

.tooltip a { text-decoration: underline; color: #000320; }

.tooltip a:hover { text-decoration: none; }

.tooltip:after { content: ""; position: absolute; width: 7px; height: 7px; margin: auto; box-sizing: border-box; }

.tooltip-top { width: calc(100% + 20px); top: 10px; left: -10px; transform: translateY(-100%) scale(0.9); }

.tooltip-top:after { left: 0; right: 0; bottom: -14px; border: 7px solid transparent; border-top: 7px solid #ff0000; }

.tooltip-bottom { width: calc(100% + 20px); bottom: 10px; left: -10px; transform: translateY(100%) scale(0.9); }

.tooltip-bottom:after { left: 0; right: 0; top: -14px; border: 7px solid transparent; border-bottom: 7px solid #ff0000; }

.tooltip-left { width: calc(100% + 20px); top: 50%; left: 10px; transform: translateY(-50%) translateX(-100%) scale(0.9); }

.tooltip-left:after { top: 0; bottom: 0; right: -14px; border: 7px solid transparent; border-left: 7px solid #ff0000; }

.tooltip-right { width: calc(100% + 20px); top: 50%; right: 10px; transform: translateY(-50%) translateX(100%) scale(0.9); }

.tooltip-right:after { top: 0; bottom: 0; left: -14px; border: 7px solid transparent; border-right: 7px solid #ff0000; }

/* theme */
.frontpage .fv-logo { top: calc(50% - 2rem); width: 290px; }

@media (min-width: 991px) { .frontpage .fv-logo { max-width: 600px; width: 90%; top: calc(50% - 8rem); } }

@media (min-width: 991px) { .frontpage .intro { padding-top: 8rem !important; }
  .frontpage .intro::after { display: none; } }

@media (max-width: 992px) { .frontpage .breadcrumb { position: absolute; bottom: 20%; left: 0; right: 0; -ms-flex-pack: center; justify-content: center; padding: 0; width: 100%; margin: auto; background-color: transparent !important; }
  .frontpage .breadcrumb a, .frontpage .breadcrumb span { filter: drop-shadow(0 0 10px black); font-weight: bold; } }

/* utility */
