@charset "UTF-8";

// ----------------------
// == animation
// ----------------------

$changeSpeed: .3;
$baseSpeed: 1;

/* transition */
@mixin trans-ease($x){
    transition: all $x+s ease;
}
@mixin trans-ease-out($x){
    transition: all $x+s ease-out;
}
@mixin trans-bounce($x){
    transition: all $x+s cubic-bezier(.7,.6,0,2);
}
@mixin trans-fast($x){
    transition: all $x+s cubic-bezier(.5,.09,.97,.12);
}

.delay01 {
	transition-delay: .1s !important;
}
.delay02 {
	transition-delay: .2s !important;
}
.delay03 {
	transition-delay: .3s !important;
}
.delay04 {
	transition-delay: .4s !important;
}
.delay05 {
	transition-delay: .5s !important;
}
.delay06 {
	transition-delay: .6s !important;
}
.delay07 {
	transition-delay: .7s !important;
}
.delay08 {
	transition-delay: .8s !important;
}
.delay09 {
	transition-delay: .9s !important;
}
.delay10 {
	transition-delay: 1s !important;
}
.delay11 {
	transition-delay: 1.1s !important;
}
.delay12 {
	transition-delay: 1.2s !important;
}
.delay13 {
	transition-delay: 1.3s !important;
}
.delay14 {
	transition-delay: 1.4s !important;
}
.delay15 {
	transition-delay: 1.5s !important;
}
.delay16 {
	transition-delay: 1.6s !important;
}
.delay17 {
	transition-delay: 1.7s !important;
}
.delay18 {
	transition-delay: 1.8s !important;
}
.delay19 {
	transition-delay: 1.9s !important;
}
.delay20 {
	transition-delay: 2s !important;
}

/* スクロール時のアニメーション */
.laser {
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100%;
        background: $key;
        @include trans-ease($baseSpeed);
	}
	.hide {
		opacity: 0;
		@include trans-ease($baseSpeed);
		transition-delay: .5s;
		// transform: translateX(-20px);
	}
	&.inview-js-on {
		&::after {
			left: 100%;
		}
		.hide {
			opacity: 1;
			// transform: translateX(0px);
		}
	}
}

/* fade in */
.fade-in {
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		opacity: 1;
	}
}
.inview-js-on .fade-in {
	opacity: 1;
}

/* fade in zoom */
.fade-in-zoom {
	transform: scale(.8);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		transform: scale(1);
		opacity: 1;
	}
}
.inview-js-on .fade-in-zoom {
	transform: scale(1);
	opacity: 1;
}

/* fade in up */
.fade-in-up {
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-up {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/* fade in down */
.fade-in-down {
	-webkit-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-down {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/* fade in left */
.fade-in-left {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	-o-transform: translateX(20px);
	transform: translateX(20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-left {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* fade in right */
.fade-in-right {
	-webkit-transform: translateX(-20px);
	-ms-transform: translateX(-20px);
	-o-transform: translateX(-20px);
	transform: translateX(-20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-right {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* fade in up left */
.fade-in-up-left {
	-webkit-transform: translateY(20px) translateX(20px);
	-ms-transform: translateY(20px) translateX(20px);
	-o-transform: translateY(20px) translateX(20px);
	transform: translateY(20px) translateX(20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateY(0px) translateX(0px);
		-ms-transform: translateY(0px) translateX(0px);
		-o-transform: translateY(0px) translateX(0px);
		transform: translateY(0px) translateX(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-up-left {
	-webkit-transform: translateY(0px) translateX(0px);
	-ms-transform: translateY(0px) translateX(0px);
	-o-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
	opacity: 1;
}

/* fade in up right */
.fade-in-up-right {
	-webkit-transform: translateY(20px) translateX(-20px);
	-ms-transform: translateY(20px) translateX(-20px);
	-o-transform: translateY(20px) translateX(-20px);
	transform: translateY(20px) translateX(-20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateY(0px) translateX(0px);
		-ms-transform: translateY(0px) translateX(0px);
		-o-transform: translateY(0px) translateX(0px);
		transform: translateY(0px) translateX(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-up-right {
	-webkit-transform: translateY(0px) translateX(0px);
	-ms-transform: translateY(0px) translateX(0px);
	-o-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
	opacity: 1;
}

/* fade in down left */
.fade-in-down-left {
	-webkit-transform: translateY(-20px) translateX(20px);
	-ms-transform: translateY(-20px) translateX(20px);
	-o-transform: translateY(-20px) translateX(20px);
	transform: translateY(-20px) translateX(20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateY(0px) translateX(0px);
		-ms-transform: translateY(0px) translateX(0px);
		-o-transform: translateY(0px) translateX(0px);
		transform: translateY(0px) translateX(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-down-left {
	-webkit-transform: translateY(0px) translateX(0px);
	-ms-transform: translateY(0px) translateX(0px);
	-o-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
	opacity: 1;
}

/* fade in down right */
.fade-in-down-right {
	-webkit-transform: translateY(-20px) translateX(-20px);
	-ms-transform: translateY(-20px) translateX(-20px);
	-o-transform: translateY(-20px) translateX(-20px);
	transform: translateY(-20px) translateX(-20px);
	opacity: 0;
	@include trans-ease($changeSpeed);
	&.inview-js-on {
		-webkit-transform: translateY(0px) translateX(0px);
		-ms-transform: translateY(0px) translateX(0px);
		-o-transform: translateY(0px) translateX(0px);
		transform: translateY(0px) translateX(0px);
		opacity: 1;
	}
}
.inview-js-on .fade-in-down-right {
	-webkit-transform: translateY(0px) translateX(0px);
	-ms-transform: translateY(0px) translateX(0px);
	-o-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
	opacity: 1;
}