@charset "UTF-8";

.hover-bloom {
	position: relative;
	overflow: hidden;
	margin: 0;
	height: 100%;
	width: 100%;
	filter: grayscale(0);
}
.hover-bloom::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(0,0,0,.2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.hover-bloom:hover{
  	animation: bloom ease-in-out .75s forwards;
}
.hover-bloom:hover::before {
    animation: circle .75s;
}
@keyframes bloom {
    0% {
        filter: grayscale(0);
    }
    40% {
        filter: grayscale(.1);
    }
    100% {
        filter: grayscale(.2);
    }
}
@keyframes circle {
    0% {
		opacity: .5;
		background: rgba(0,0,0,.1);
    }
    40% {
		opacity: 1;
		background: rgba(0,0,0,.1);
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.hover-verticle,
.hover-horizon,
.hover-zoom,
.hover-slide {
	overflow: hidden;
	@include trans-ease(.3);
	&:hover {
		color: $white;
	}
	&::after {
		@include trans-ease(.3);
		content: '';
		background: $black;
		position: absolute;
		z-index: -1;
	}
}

.hover-verticle {
	&::after {
		height: 0;
		left: 0;
		top: 0;
		width: 100%;
	}
	&:hover {
		&::after {
			height: 100%;
		}
	}
}

.hover-horizon {
	&::after {
		height: 100%;
		left: 0;
		top: 0;
		width: 0;
	}
	&:hover {
		&::after {
			width: 100%;
		}
	}
}

.hover-zoom {
	&::after {
		height: 0;
		left: 50%;
		top: 50%;
		width: 0;
	}
	&:hover {
		&::after {
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
}

.hover-slide {
	&::after {
		height: 100%;
		left: -50%;
		top: 0;
		transform: skew(50deg);
		transition-duration: 0.6s;
		transform-origin: top left;
		width: 0;
	}
	&:hover {
		&::after {
			height: 100%;
  			width: 150%;
		}
	}
}