@charset "UTF-8";

// ----------------------
// == mixin
// ----------------------

@mixin bgImgBase {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin bgElm {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include bgImgBase;
}

@mixin shadow {
    box-shadow: 30px 30px 50px rgba(0,0,0,0.16);
}

@mixin arrow($size) {
    position: absolute;
    bottom: calc(#{$size+px} * -2);
    left: 0;
    right: 0;
    margin: auto;
    width: $size+px;
    height: $size+px;
    border: $size+px solid transparent;
    border-top: $size+px solid $white;
    box-sizing: border-box;
    z-index: 3;
    &[data-color="key"] {
        border-top-color: $key;
    }
    &[data-color="base1"] {
        border-top-color: $base1;
    }
    &[data-color="base2"] {
        border-top-color: $base2;
    }
    &[data-color="white"] {
        border-top-color: $white;
    }
    &[data-color="black"] {
        border-top-color: $black;
    }
}

@mixin hover {
    @include trans-ease(.2);
    &:hover {
        filter: brightness(150%);
    }
}

@mixin txtHover($color) {
    @include trans-ease(.2);
    &:hover {
        color: $color;
    }
}