@charset "UTF-8";

// ----------------------
// == front
// ----------------------
.frontpage {
    .fv {
        &-logo {
            top: calc(50% - 2rem);
            width: 290px;
            @include min-md {
                max-width: 600px;
                width: 90%;
                top: calc(50% - 8rem);
            }
        }
    }
    .intro {
        @include min-md {
            padding-top: 8rem !important;
            &::after {
                display: none;
            }
        }
    }
    .breadcrumb {
        @include max-md {
            position: absolute;
            bottom: 20%;
            left: 0;
            right: 0;
            justify-content: center;
            padding: 0;
            width: 100%;
            margin: auto;
            background-color: transparent !important;
            a,span {
                filter: drop-shadow(0 0 10px rgba(0,0,0,1));
                font-weight: bold;
            }
        }
    }
}