// = Colors
// -----------------------------

$white: #fff;
$black: #000320;
$gray: #EAEAEA;
$key: #ff0000;
$base1: #0E3175;
$base2: #009DFF;

$grd1: linear-gradient(to right bottom,#00E2FF,#0000FF);

$theme-colors: (
    vm: #F23C6D,
    esm: #E6AB3B,
    bm: #3CB9D6,
    atv: #4A50E6,
    jm: #7D45BE,
    d: #D13ECB,
    lec: #5DC7A2,
    pm: #50A745
);

.bg {
    &-white {
        background-color: $white !important;
    }
    &-gray {
        background-color: $gray !important;
    }
    &-black {
        background-color: $black !important;
    }
    &-key {
        background-color: $key !important;
    }
    &-base1 {
        background-color: $base1 !important;
    }
    &-base2 {
        background-color: $base2 !important;
    }
}

@for $i from 1 through 10 {
    .box#{$i} {
      font-size:#{$i}px;
    }
}




@each $key, $color in $theme-colors {
    .bg {
        &-#{$key} {
            background-color: $color !important;
        }
    }
}

.color {
    &-white {
        color: $white !important;
    }
    &-gray {
        color: $gray !important;
    }
    &-black {
        color: $black !important;
    }
    &-key {
        color: $key !important;
    }
    &-base1 {
        color: $base1 !important;
    }
    &-base2 {
        color: $base2 !important;
    }
}

@each $key, $color in $theme-colors {
    .color {
        &-#{$key} {
            color: $color !important;
        }
    }
}