// ----------------------
// == font
// ----------------------

// Noto Sans
// <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
// font-family: "Noto Sans JP", sans-serif;

// Noto Serif
// <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
// font-family: "Noto Serif JP", serif;

// $font1: 'Open Sans', "Yu Gothic", YuGothic, sans-serif;
// $font2: "Yu Mincho", "YuMincho", serif;
// $fontorb: 'Orbitron', sans-serif;

$font-sans: "Noto Sans JP", sans-serif;
// $serif: 'Open Sans', "Yu Gothic", YuGothic, sans-serif;
$font-en: 'Hind', sans-serif;

$font-size-ttl: 2.4rem;
$font-size-subttl: 2rem;

@mixin ttl {
	font-size: $font-size-ttl;
	font-weight: bold;
	margin-bottom: 2.5rem;
	line-height: 1.2;
}
@mixin subttl {
	font-size: $font-size-subttl;
	font-weight: bold;
	margin-bottom: 2rem;
	line-height: 1.2;
}
@mixin sentence {
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.fz-30 {
	font-size: 3rem !important;
}
.fz-28 {
	font-size: 2.8rem !important;
}
.fz-26 {
	font-size: 2.6rem !important;
}
.fz-24 {
	font-size: 2.4rem !important;
}
.fz-22 {
	font-size: 2.2rem !important;
}
.fz-20 {
	font-size: 2rem !important;
}
.fz-18 {
	font-size: 1.8rem !important;
}
.fz-16 {
	font-size: 1.6rem !important;
}
.fz-14 {
	font-size: 1.4rem !important;
}
.fz-12 {
	font-size: 1.2rem !important;
}